.card-link {
    color: black;
    background: #f1f1f1;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
    width: 30%;
    margin-left: 13px;
    text-align: center;
}

.resume-header {
    margin-top: 30px;
}

